.green{
    color:#27ae60;
}
.red{
    color:#e74c3c;
}
.orange{
    color:#f39c12;
}
.yellow{
    color:#f6dd09;
}
.blue{
    color:#3498db;
}
.black{
    color:#000;
}
.brown{
    color:#795118;
}
.all_quest h1{
    font-size:40px;
    margin-top:30px;
}
body{
    position: fixed;
    top:0px;
    left: 0px;
    display: flex;
    width:100%;
    height: 100%;
    background:url(../images/460.jpg) repeat left top;
    color:#61696a;
    font-family:Microsoft YaHei;
    font-size:13px;
    margin:0;
    padding:0;
    -webkit-text-size-adjust:none
}
h1{
    color:#2e4053;
    font-size:28px;
    margin-top:20px
}
h2{
    border-top:1px dotted #61696a;
    margin-top:30px;
    padding-top:30px
}
a{
    color:#3498db;
    text-decoration:none;
    transition:all ease 1s;
}
a:hover{
    background:#f39c12;
    border-color:#f39c12;
}
p{
    margin:0
}
p.sequence{
    color:#2e4053;
    font-size:20px;
    margin:0 0 10px
}
span.blank{
    border:2px dotted #ffc000;
    color:#ffc000;
    padding:1px 10px;
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    border-radius:100px
}
.wrapper{
    text-align:center;
    position:relative;
    height:100%;
    width:100%
}
.splash img{
    width: 320px;
    margin-top: 20px;
}
.splash{
    text-align: center;
}
.howto{
 text-align: center;
}
.howto p{
    font-size: 20px;
}
.all_quest{
    position:relative;
    top:80px;
}
.button{
    background:#e74c3c;
    border:2px solid #e74c3c;
    color:#fff;
    display:inline-block;
    font-size:28px;
    margin-top:5px;
    padding:5px 10px;
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    border-radius:100px;
    font-weight: bold;
}
ul{
    list-style-type:none;
    margin:0;
    padding:0;
}
ul li{
    display:inline-block;
    margin:0;
    padding:0
}
ul.hud{
    margin-top:10px;
}
ul.hud li{
    color:#61696a;
    margin:0 10px;
    text-align:left;
    width:105px;
    font-size:18px;
}
ul.hud li.timeCount{
    background:url(../images/b.png) no-repeat left -57px;
    padding-left:25px
}
ul.hud li.totalQuest{
    background:url(../images/b.png) no-repeat -148px -57px;
    padding-left:25px
}
.answer{
    margin-top:50px
}
.answer ul li{
    font-size:24px;
    margin:0 10px 10px;
}
.answer ul li a{
    border:2px solid #ffc000;
    color:#ffc000;
    display:inline-block;
    padding:1px 10px;
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    border-radius:100px;
}
.answer ul li a.option_a:hover,.answer ul li a.option_b:hover,.answer ul li a.option_c:hover,.answer ul li a.option_d:hover{
    background-color:#0f591b
}
a.disable_click{
    pointer-events:none
}
.hint{
    height:20px;
    position:relative;top:85px
}
.tick{
    background:url(../images/b.png) no-repeat left -110px;
    text-indent:-99999px;height:50px;width:55px;
}
.cross{
    background:url(../images/b.png) no-repeat -75px -110px;
    text-indent:-99999px;
    height:50px;
    width:55px;
}
.result{
    margin:0 auto;
    position: relative;
    top:-45px;
}
.result span.score{
    color:#27ae60;
    display:block;
    font-size:24px
}
.copyrights{
    position:absolute;
    margin-left:-173px;
    left:50%;
    top:375px;
    width:346px
}
.copyrights p{
    color:#7f888f;
}
.copyrights a{
    background: none;
}
.copyrights a:hover{
    background: none;
}
.fb_plugin{
    margin:0 auto;
    padding:0 20px;
    width:320px
}
.other_game{
    background:#222;
    margin:0 auto;
    overflow:hidden;
    padding:10px;
    width:708px
}
.other_game p{
    color:#ccc;
    font-family:Arial,Helvetica,sans-serif;
    font-weight:normal;
    font-size:14px;
    margin-top:0;
}
.other_game ul{
    list-style-type:none;
    margin:0;
    padding:0
}
.other_game ul li{
    margin-top:10px;
    display:block;
}
.other_game ul li:first-child{
    margin:0
}
.other_game ul li img{
    float:left;
    margin-right:10px;
}
.other_game a{
    display:block;
    color:#09c;
    font-size:14px;
    overflow:hidden;
    text-decoration:none;
}
.other_game a:hover{
    background:#138c46;
    color: #fff;
}
.other_game a span{
    font-size:12px;
    font-family:Arial,Helvetica,sans-serif;
    color:#ccc
}
@media screen and (max-width:320px){
    .wrapper{
        overflow-x:hidden;
        width:320px;
        min-width:320px;
    }
    .splash{
        width:320px;
    }
    .splash h1{
        font-size:25px;
    }
    h2{
        margin-top:15px;
        padding-top:15px;
    }
    .howto{
        /*margin-left:-150px;*/
        /*width:300px;*/
    }
    .copyrights p{
        font-size:11px;
    }
    .fb_plugin{
        width:280px;
        padding:0;
    }
    .result{
        width:280px
    }
    .result span.score{
        font-size:18px;
    }
}
.result p{
    font-size: 24px;
}
.bomDIv{
    position: absolute;
    bottom: 0px;
    width: 320px;
    height: 226px;
    left: 50%;
    margin-left: -160px;
    background: url("../images/bom.png") no-repeat center center;
    background-size: 100% 100%;
}